* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3ab0ff;
}

#app {
  border-radius: 10px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  background-color: #f9f2ed;
}

#todo-title {
  margin: 20px;
}

#todo-subtitle {
  margin: 20px;
}

#todo-input {
  width: 60%;
  height: 34px;
  border: 1px solid#3ab0ff;
  padding: 8px;
  border-radius: 6px;
}

#todo-submit {
  background-color: white;
  color: #3ab0ff;
  border: 1px solid #3ab0ff;
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 6px;
}

#todo-output {
  list-style-position: inside;
  width: 75%;
  margin: 15px auto;
  text-align: left;
}
